.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.navbar-custom {
  height: 100px;
}

.navbar-toggle {
  position: absolute;
  right: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-group-mine .list-group-item:hover {
  background-image:  linear-gradient(to left, #00eeffc5 0%, #3db1ffbd 50%, #003cffc0 100%);
  
}
.my-text{
  color: black;
  text-align: left;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.hm-gradient {
    background-image: linear-gradient(to top, #00eeff 0%, #3db1ff 50%, #003cff 100%);
}

:root {
  --gradient: linear-gradient(to left top, #2600ff 10%, #6146ff 90%) !important;
}


.card {
  border: 1px solid #be24dd;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
      background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

.cover-container {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.cover-item {
  position: relative;
  display: inline-block;
  margin: 8px 8px;
  box-shadow: 2px 2px 4px #bbb;
  border-top-right-radius: 4px;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

